export SCW_ACCESS_KEY=<your-access-key>
export SCW_SECRET_KEY=<your-secret-key>
export SCW_DEFAULT_ORGANIZATION_ID=<your-org-id>
export SCW_DEFAULT_PROJECT_ID=<your-project-id>
export GRAFANA_ADMIN_PASSWORD=<your-grafana-password>
export MATOMO_ADMIN_PASSWORD=<your-matomo-password>
export MATOMO_TOKEN_AUTH=<your-matomo-auth-token>
export WISDOM_API_AUTH_TOKEN=<your-api-auth-token>
export MISTRAL_API_KEY=<your-mistral-api-key>
export JEANNE_MATRIX_PASSWORD=<jeanne-matrix-password>
export KUBECONFIG="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)/infrastructure/dev/.kubeconfig"